body {
	background-image: url('../../client/assets/img/game-background.png');
	background-size: cover;
}

.wrapper {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s linear;
}

header {
	background-image: none;
}

.header__container {
	padding-top: 22px !important;
	padding-bottom: 22px !important;
}

.header__profile__logout {
	background-image: url('../assets/img/lobby/logout.png');
	background-size: cover;
	width: 28px;
	height: 28px;
	cursor: pointer;
	margin-left: 10px;
}

.header__social__image, .header__links {
	height: 40px;
}

.header__nav {
	margin-right: 40px;
}

main {
	display: flex;
}

.lobby {
	flex: 1 1 auto;
	padding-bottom: 10px;
}

.lobby__container {
	max-width: 1440px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.lobby__invite {
	width: 100%;
	max-height: 68px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url('../assets/img/lobby/invite-back.svg');
	padding: 17px 20px;
	border-radius: 10px;

	height: 0px;
	padding: 0px 20px;
	overflow: hidden;
}

.lobby h2:not(.lobby__match__title):not(.lobby__friends__title), .lobby span {
	color: #FFF4E5;;
	font-family: 'Bookman Old Style';
}

.lobby__inner__block {
	display: flex;
	align-items: center;
	gap: 20px;
}

.lobby__star:first-child {
	margin-right: 20px;
}

.lobby__star:last-child {
	margin-left: 20px;
}

.lobby__button {
	width: 140px;
	height: 40px;
	background-image: url('../assets/img/button-back.png');
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF4E5;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	cursor: pointer;
}

.lobby__bottom {
	display: flex;
	gap: 24px;
	flex: 1 1 auto;
}

.lobby__main {
	width: 100%;
	max-width: 1146px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.lobby__block {
	width: 100%;
	background: rgba(40, 17, 7, 0.8);
	border-radius: 10px;
	padding: 38px 52px 38px 24px;
}

.lobby__profile {
	width: 1146px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url('../assets/img/lobby/profile-icon.png');
	background-position: center;
	background-repeat: no-repeat;
}

.lobby__profile__rating__number {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-left: 20px;
	height: 24px;
}

.lobby__profile__image {
	width: 60px;
	height: 60px;
}

.profile__edit {
	background-color: rgba(40, 17, 7, 0.5);
	background-image: url('../assets/img/profile-edit.svg');
	background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.lobby__match {
	flex: 1 1 auto;
	padding: 24px 24px 38px 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
	background-image: url('../assets/img/lobby/match-back.svg');
	background-repeat: no-repeat;
	background-position: bottom;
}

.lobby__match * {
	transition: none;
}

.lobby__match__top {
	display: flex;
	justify-content: space-between;
}

.lobby__match__title, .lobby__friends__title {
	display: flex;
	align-items: center;
	gap: 14px;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: 1.875px;
	text-transform: uppercase;
	color: #FFF4E5;
}

.lobby__match__character, .lobby__match__tournament {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.lobby__match__character__update {
	width: 24px;
	height: 24px;
	cursor: pointer;
	background-image: url('../assets/img/lobby/update-icon.png');
}

.lobby__match__characters {
	display: flex;
	align-items: center;
	gap: 6px;
}

.lobby__match__character__field {
	background-size: contain;
	width: 120px;
	height: 187px;
	background-size: 100% 100%, 94% 95%;
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	cursor: pointer;
}

.lobby__match__character__field[data-character="none"] {
	background-image: url(), url('../assets/img/lobby/empty-character-field.png');
}

.lobby__match__character__field[data-character="0"] { background-image: url(), url('../assets/img/game/characters/1.png') }
.lobby__match__character__field[data-character="1"] { background-image: url(), url('../assets/img/game/characters/2.png') }
.lobby__match__character__field[data-character="2"] { background-image: url(), url('../assets/img/game/characters/3.png') }
.lobby__match__character__field[data-character="3"] { background-image: url(), url('../assets/img/game/characters/4.png') }
.lobby__match__character__field[data-character="4"] { background-image: url(), url('../assets/img/game/characters/5.png') }
.lobby__match__character__field[data-character="5"] { background-image: url(), url('../assets/img/game/characters/6.png') }
.lobby__match__character__field[data-character="6"] { background-image: url(), url('../assets/img/game/characters/7.png') }
.lobby__match__character__field[data-character="7"] { background-image: url(), url('../assets/img/game/characters/8.png') }
.lobby__match__character__field[data-character="8"] { background-image: url(), url('../assets/img/game/characters/9.png') }
.lobby__match__character__field[data-character="9"] { background-image: url(), url('../assets/img/game/characters/10.png') }

.lobby__match__character__field[data-character="0"].outlined { background-image: url('../assets/img/lobby/card-outline.png'), url('../assets/img/game/characters/1.png') }
.lobby__match__character__field[data-character="1"].outlined { background-image: url('../assets/img/lobby/card-outline.png'), url('../assets/img/game/characters/2.png') }
.lobby__match__character__field[data-character="2"].outlined { background-image: url('../assets/img/lobby/card-outline.png'), url('../assets/img/game/characters/3.png') }
.lobby__match__character__field[data-character="3"].outlined { background-image: url('../assets/img/lobby/card-outline.png'), url('../assets/img/game/characters/4.png') }
.lobby__match__character__field[data-character="4"].outlined { background-image: url('../assets/img/lobby/card-outline.png'), url('../assets/img/game/characters/5.png') }
.lobby__match__character__field[data-character="5"].outlined { background-image: url('../assets/img/lobby/card-outline.png'), url('../assets/img/game/characters/6.png') }
.lobby__match__character__field[data-character="6"].outlined { background-image: url('../assets/img/lobby/card-outline.png'), url('../assets/img/game/characters/7.png') }
.lobby__match__character__field[data-character="7"].outlined { background-image: url('../assets/img/lobby/card-outline.png'), url('../assets/img/game/characters/8.png') }
.lobby__match__character__field[data-character="8"].outlined { background-image: url('../assets/img/lobby/card-outline.png'), url('../assets/img/game/characters/9.png') }
.lobby__match__character__field[data-character="9"].outlined { background-image: url('../assets/img/lobby/card-outline.png'), url('../assets/img/game/characters/10.png') }



.lobby__match__character__arrows {
	display: flex;
	flex-direction: column;
	width: 20px;
	gap: 16px;
	margin-left: 8px;
}

.lobby__match__character__arrow {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.lobby__match__character__arrow {
	background-image: url('../assets/img/lobby/active-arrow.png');
}

.lobby__match__tournament {
	align-items: center;
	padding: 0px 25px;
}

.lobby__match__tournament__cards {
	width: 165px;
}

.lobby__match__start {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.lobby__match__start__top, .lobby__match__start__modes {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.lobby__match__start__mode {
	display: flex;
	align-items: center;
	gap: 8px;
}

.lobby__match__start__mode__button {
	background-size: 100% 100%;
}

.lobby__match__start__mode__tip {
	background-image: url('../assets/img/lobby/tip-icon.png');
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.lobby__match__start__mode__text {
	display: none;
}

.lobby__match__start__mode__button.button-competitive {
	width: 196px;
}

.lobby__match__start__mode__button.button-private {
	width: 176px;
}

.lobby__match__start__players {
	display: flex;
	flex-wrap: wrap;
	column-gap: 18px;
	row-gap: 16px;
}

.player {
	background-image: url('../assets/img/lobby/empty-player-field.png');
	width: 260px;
	height: 93px;
}

.player.inactive * {
	display: none;
}

.lobby__friends .player, .lobby__friends .player:not(.inactive) {
	background-image: url('../assets/img/lobby/player-back.svg');
	width: 220px;
	height: 65px;
	padding: 12px 10px;
}

.player:not(.inactive) {
	background-image: url('../assets/img/lobby/empty-player-field.png'), url('../assets/img/lobby/player-back.svg');
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 100%, 84% 84%;
	background-position: center center;
	padding: 27px 30px;
	display: flex;
	align-items: center;
	justify-items: center;
}

.player__photo {
	width: 40px;
	height: 40px;
}


.lobby__friend:has(.player__decline) .player__invite {
	background-size: 100% 100%;
	width: 24px;
	height: 24px;
	margin-left: 0px;
}

.player__controls {
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin-left: auto;
}

.player__decline {
	background-image: url('../assets/img/lobby/leave-party-button.png');
	background-size: 100% 100%;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.player__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 10px;
	max-width: 58%;
	overflow: hidden;
}

.player__info h2 {
	line-height: 20px;
	letter-spacing: 0.875px;
	font-size: 14px;
}

.player__kick {
	background-image: url('../assets/img/lobby/leave-party-button.png');
	width: 30px;
	height: 30px;
	margin-left: auto;
	cursor: pointer;
}

.player__invite {
	background-image: url('../assets/img/lobby/invite-button.png');
	width: 30px;
	height: 30px;
	margin-left: auto;
	cursor: pointer;
}

.player__state {
	background-image: url('../assets/img/lobby/online-back.svg');
	width: 12px;
	height: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -14px;
	margin-top: -24px;
}

.player__state > div {
	background: #6CB214;
	border: 1px solid #5D9B10;
	border-radius: 50%;
	width: 8px;
	height: 8px;
}

.lobby__match .lobby__player.disabled {
	opacity: 1;
}

.lobby__friend.disabled .player__state div, .lobby__match .lobby__player.disabled .player__state div {
	background: #E3D9CC;
	border: 1px solid #A7A7A7;
}

.player__rating {
	display: flex;
	gap: 8px;
}

.lobby__match__start__search {
	align-self: center;
	padding-top: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lobby__friends {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.lobby__friends__top {
	display: flex;
	justify-content: space-between;
}

.lobby__friends__search {
	background-color: #FFF;
	width: 222px;
	height: 42px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6px;
	padding: 12px 18px;
	border-radius: 8px;
}

.lobby__friends__search__input {
	border: none;
	font-family: 'Bookman Old Style';
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.875px;
	color: #2D1509;
	max-width: 160px;
}

.lobby__friends__search__input:focus {
	border: none;
}

.lobby__friends__search__input::placeholder {
	font-family: 'Bookman Old Style';
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.875px;
	color: #2D1509;
}

.lobby__friends__search__icon {
	background-image: url('../assets/img/lobby/search-icon.svg');
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.lobby__friends__invites {
	width: 222px;
	background-size: 100% 100%;
}

.lobby__friends__list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.error {
	width: 0px;
	height: 75px;
	background-size: 100% 100%;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	z-index: 50;
}

.lobby__friends__arrows {
	transform: rotate(90deg);
	width: 20px;
	align-self: center;
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: auto;
}

.lobby__friends__arrow {
	background-image: url('../assets/img/lobby/active-arrow.png');
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.lobby__friends__count {
	display: flex;
	align-items: center;
	gap: 8px;
}

.lobby__match__start__mode__text {
	width: 205px;
	height: 73px;
	background-image: url('../assets/img/lobby/tip-background.png');
	font-family: 'Bookman Old Style';
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.75px;
	color: #493F39;
	padding: 16px 22px;
	position: relative;
	top: -65px;
	left: 572px;
}

.accept-game {
	position: fixed;
	transform: translate(60%, 100%);
	width: 800px;
	height: 299px;

	z-index: 100;

	background: rgba(45, 21, 9, 0.9);
	box-shadow: 0px 0px 13px #684630;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 24px;
	padding: 24px 0px;
	display: none;
}

.accept-game__player.accepted {
	background-size: 100% 100%, 100% 100%;
}

.accept-game__title {
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	letter-spacing: 1.875px;
	text-transform: uppercase;
	color: #FFF4E5;
}

.accept-game__button {
	width: 280px;
	height: 80px;
	background-size: 100% 100%;
	font-size: 32px;
	line-height: 37px;
}

.accept-game__players {
	flex: 1 1 auto;
	display: flex;
	gap: 24px;
}

.accept-game__player {
	width: 88px;
	height: 88px;
	background-size: 0% 0%, 100% 100%;
	background-repeat: no-repeat, no-repeat;
	background-position: center;
}