#lobby {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	width: 100%;
	height: 100%;
	max-height: 912px;
	overflow-y: hidden;
}

html, body {
	height: 100%;
}

.main-block {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding-bottom: 10px;
	gap: 10px;
}

#cards {
	max-width: 1024px;
	width: 100%;
	align-self: flex-end;
	margin-top: 5px;
}

.cards-bottom {
	display: flex;
	gap: 20px;
}

#cards .common {
	display: flex;
	justify-content: flex-end;
	flex: 1 1 auto;
	width: 1vh;
}

#cards .common-ctn {
	display: flex;
	/* gap: 10px; */
	overflow-x: auto;
	overflow-y: hidden;
	height: 146px;
	padding: 14px 0px 4px 0px;
}

#board {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	row-gap: 10px;
	position: relative;
	width: 100%;
	flex: 1 0 auto;
}

.board-wrapper {
	height: 638px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../assets/img/game/main-background.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40% 40%;
	flex: 1 0 auto;
	flex-direction: column;
}

#info {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 35px;
	width: 268px;
	max-height: 660px;
	background: rgba(45, 21, 9, 0.8);
	border-radius: 10px;
	padding-top: 24px;
	padding-bottom: 40px;
	margin-top: 72px;
}

.game-controls {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 268px;
}

.red-button {
	background-image: url('../assets/img/button-back.png');
	background-size: 100% 100%;
	width: 268px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: 1.875px;
	text-transform: uppercase;
	color: #FFF4E5;
	cursor: pointer;
}

.red-button.inactive {
	opacity: 0.4;
}


#shop {
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 24px 48px;
	gap: 5px;
	display: none;
	width: 1082px;
	height: 375px;
	background: rgba(45, 21, 9, 0.9);
	border-radius: 10px;
}

.card-chooser {
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	display: none;
	width: fit-content;
	padding: 24px 48px;
	height: 375px;
	background: rgba(45, 21, 9, 0.9);
	border-radius: 10px;
}

.shop-title {
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	letter-spacing: 1.875px;
	text-transform: uppercase;
	color: #FFF4E5;
}

.shop-cards {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	gap: 26px;
}

.shop-user, .shop-user span {
	font-family: 'Bookman Old Style';
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	color: #FFF4E5;
}

.shop-user span {
	color: #EDE52E;
}


#card-chooser {
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	width: fit-content;
	height: 210px;
	border: 1px solid black;
    border-radius: 5px;
	display: flex;
    flex-direction: column;
	padding: 5px;
	gap: 5px;
	display: none;
	background-color: #FFF;
}

.card-chooser-title {
	text-align: center;
}

.card-chooser-cards {
	flex: 1 1 auto;
	display: flex;
}

.card .card-change {
	display: none;
}

.mask {
	position: absolute;
	left: 0px; top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	display: none;
	cursor: pointer;
}

.mask.activate {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
}

.learn-selected {
	border: 1px solid black;
	border-radius: 5px;
	z-index: 1000;
	position: relative;
	cursor: pointer;
}

.mask-text {
	text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff;
	position: absolute;
	width: 300px;
}

.game-result {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -100px;
	width: 300px;
	height: 200px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #FFF;
}

.leave-after-result {
	border: 0;
	width: 150px;
	height: 32px;
	font-size: 100%;
}

.wrapper {
	background-image: url('../../assets/img/game-background.png');
	background-size: cover;
	background-position: center;
	min-width: 1475px;
}

.__container {
	max-width: 1440px;
}

.header__container {
	padding: 24px 0px 24px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__right-block {
	display: flex;
	align-items: center;
	gap: 40px;
}

.header__logo {
	max-width: 140px;
	max-height: 40px;
}

header h2 {
	font-family: 'Bookman Old Style';
	font-size: 12px;
	line-height: 14px;
	text-align: right;
	letter-spacing: 0.75px;
	color: #F1E5D6;
}

.main__container {
	background-image: url('../assets/img/game/single-star.svg'), url('../assets/img/game/single-star.svg'), url('../assets/img/game/single-star.svg'),
					  url('../assets/img/game/single-star.svg'), url('../assets/img/lobby/match-back.svg'), url('../assets/img/main-background.png');
	background-repeat: no-repeat;
	background-position: 2.5% 3.5%, 97.5% 96.5%, 2.5% 96.5%, 97.5% 3.5%, bottom, center;
	background-size: 1.5%, 1.5%, 1.5%, 1.5%, 100% 22%, 100% 100%;
	height: 880px;
	padding: 24px 24px;
	gap: 40px;
	margin-bottom: 32px;
}

.player-modifiers::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.player-modifiers::-webkit-scrollbar-track {
	background: transparent;
}

.player-modifiers::-webkit-scrollbar-thumb {
	background-color: rgba(133, 94, 55, 0.8);
	border-radius: 8px;
	height: 5px;
}

.cards-top {
	background: rgba(45, 21, 9, 0.8);
	border-radius: 10px;
	display: flex;
	padding: 0px 10px;
}

.cards-top div {
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 1.875px;
	color: #FFF4E5;
	width: 100%;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
}

.cards-top div, .cards-top span {
	font-family: 'Bookman Old Style';
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
	color: #F1E5D6;
}

.cards-top span {
	color: #EDE52E;
}

.time {
	flex: 0 1;
	display: flex;
	gap: 15px !important;
}

.game-buttons {
	padding-top: 20px;
}

.wait-seconds, .time-seconds {
	width: 30px;
}

.footer {
	display: flex;
	justify-content: center;
}

.footer__container {
	padding-bottom: 32px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 40px;
}

footer h2 {
	font-family: 'Bookman Old Style';
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.875px;
	color: #F1E5D6;
	cursor: pointer;
}

.history {
	transition: bottom 0.3s ease-in-out;
	background: rgba(45, 21, 9, 0.7);
	border-radius: 10px;
	width: 1334px;
	height: 433px;
	position: fixed;
	left: 0; right: 0;
	margin: 0 auto;
	bottom: -100vh;
	padding: 24px 55px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.common-ctn::-webkit-scrollbar, .history::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.common-ctn::-webkit-scrollbar-track, .history::-webkit-scrollbar-track {
	background: transparent;
}

.common-ctn::-webkit-scrollbar-thumb, .history::-webkit-scrollbar-thumb {
	background-color: rgba(133, 94, 55, 0.8);
	border-radius: 8px;
	height: 5px;
}

.history__title {
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	letter-spacing: 1.875px;
	text-transform: uppercase;
	color: #FFF4E5;
}

.history-block-title {
	font-family: 'Bookman Old Style';
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.875px;
	color: #F1E5D6;
	opacity: 0.5;
}

.history-move {
	display: flex;
	gap: 6px;
}

.history-move, .history-move span {
	font-family: 'Bookman Old Style';
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
	color: #F1E5D6;
}

.history-move span {
	color: #EDE52E;
}

.history-block {
	display: flex;
	flex-direction: column;
	gap: 8px;
}



/* -------------------------------------------------------------------------------- */

.result {
	width: 1080px;
	height: 650px;
	background: rgba(17, 0, 0, 0.8);
	border-radius: 10px;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	position: fixed;
	left: calc(50% - 540px);
	top: calc(50% - 325px);
}

.result__top {
	display: flex;
	gap: 24px;
	justify-content: center;
	align-items: center;
}

.result__title {
	font-size: 80px;
	line-height: 93px;
	letter-spacing: 1.75px;
	text-transform: uppercase;
	color: #FFF4E5;
}

.result__user div, .result__user span {
	font-family: 'Bookman Old Style';
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 1.125px;
	color: #FFF4E5;
}

.result__users {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	width: 640px;
	justify-content: center;
	align-items: center;
}

.result__user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.result__user__name {
	max-width: 180px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
}

.result__user__photo {
	width: 64px;
	height: 64px;
}

.result__button {
	background-image: url('../assets/img/button-back.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 440px;
	height: 80px;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFF4E5;
	cursor: pointer;
}

.result__user__rating {
	display: flex;
	align-items: center;
	gap: 8px;
}

.result__user__rating span {
	color: #EDE52E;
}