.card {
	width: 78px;
	height: 120px;
	flex-shrink: 0;
	font-size: 17px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 30%, center;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.common-ctn .card {
	margin: 0px 5px;
}

.card.player-modifier {
	width: 84px;
	height: 128px;
}

.card:not(.empty) {
	transition: all 0.5s ease 0s;
	transition-property: transform;
}

.common-ctn .card {
	width: 78px;
	height: 120px;
}

.table__card-last .card {
	width: 111px;
	height: 171px;
}

.card.selected {
	box-shadow: 0px 0px 30px #E7532C;
	transition: 0.05s ease-in 0s;
	transition-property: width, height, margin;
	width: 84px;
	height: 128px;
	margin: 0px 2px;
}

.card .card-title {
	font-size: 15px;
	letter-spacing: -1px;
	text-transform: uppercase;
}

.table__card-last .card-title {
	font-size: 19px;
}

.shop-cards .card {
	width: 142px;
	height: 220px;
}

.shop-cards .card-title {
	font-size: 26px;
	line-height: 60px;
}

.card.selected .card-title {
	transition: 0.05s ease-in 0s;
	transition-property: font-size, margin;
	margin-top: 1px;
	font-size: 16px;
}

.card .card-bottom {
	display: flex;
	align-items: center;
	left: 4px;
	bottom: -7px;
	font-size: 17px;
	position: absolute;
	text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff;
}

.card .card-suit {
	margin-top: -2px;
	margin-left: -1px;
}

.card .card-suit::before {
	font-size: 20px;
}

.card .card-suit[data-suit='D']::before {
	color:red;
	content: '♦';
}

.card .card-suit[data-suit='H']::before {
	color:red;
	content: '♥';
}

.card .card-suit[data-suit='C']::before {
	color:black;
	content: '♣';
}

.card .card-suit[data-suit='S']::before {
	color:black;
	content: '♠';
}

.card .card-delete {
	background-image: url('../../assets/img/game/delete_icon.png');
	width: 32px;
	height: 32px;
	background-size: cover;
	position: absolute;
	top: 140px;
	right: 0px;
}

.card .card-change {
	background-image: url('../../assets/img/game/exchange_icon.png');
	width: 26px;
    height: 26px;
    background-size: cover;
    position: absolute;
    top: 143px;
    right: 30px;
}


/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */


.card[data-card='0'] { background-image: url('../../assets/img/game/cards/1.png') }
.card[data-card='1'] { background-image: url('../../assets/img/game/cards/2.png') }
.card[data-card='2'] { background-image: url('../../assets/img/game/cards/3.png') }
.card[data-card='3'] { background-image: url('../../assets/img/game/cards/4.png') }
.card[data-card='4'] { background-image: url('../../assets/img/game/cards/5.png') }
.card[data-card='5'] { background-image: url('../../assets/img/game/cards/6.png') }
.card[data-card='6'] { background-image: url('../../assets/img/game/cards/7.png') }
.card[data-card='7'] { background-image: url('../../assets/img/game/cards/8.png') }
.card[data-card='8'] { background-image: url('../../assets/img/game/cards/9.png') }
.card[data-card='9'] { background-image: url('../../assets/img/game/cards/10.png') }
.card[data-card='10'] { background-image: url('../../assets/img/game/cards/11.png') }
.card[data-card='11'] { background-image: url('../../assets/img/game/cards/12.png') }
.card[data-card='12'] { background-image: url('../../assets/img/game/cards/13.png') }
.card[data-card='13'] { background-image: url('../../assets/img/game/cards/14.png') }
.card[data-card='14'] { background-image: url('../../assets/img/game/cards/15.png') }
.card[data-card='15'] { background-image: url('../../assets/img/game/cards/16.png') }
.card[data-card='16'] { background-image: url('../../assets/img/game/cards/17.png') }
.card[data-card='17'] { background-image: url('../../assets/img/game/cards/18.png') }
.card[data-card='18'] { background-image: url('../../assets/img/game/cards/19.png') }
.card[data-card='19'] { background-image: url('../../assets/img/game/cards/20.png') }
.card[data-card='20'] { background-image: url('../../assets/img/game/cards/21.png') }
.card[data-card='21'] { background-image: url('../../assets/img/game/cards/22.png') }