.player-character__distance {
	position: absolute;
    width: 34px;
    height: 34px;
    right: -14px;
    top: 140px;
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}