.role {
	margin-top: 14px;
}

.role .role-title {
	font-size: 15px;
	letter-spacing: -1px;
	text-transform: uppercase;
}

.role[data-role='1'] .role-title {
	font-size: 11px;
}

.role[data-role='0'] { background-image: url('../../assets/img/game/cards/role0.png') }
.role[data-role='1'] { background-image: url('../../assets/img/game/cards/role1.png') }
.role[data-role='2'] { background-image: url('../../assets/img/game/cards/role2.png') }
.role[data-role='3'] { background-image: url('../../assets/img/game/cards/role3.png') }